.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
} 
.me-2 {
    margin-right: .5rem!important;
}

/* Define styles for the input button */
.btn-input {
    /* Define button styles */
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    /* font-weight: bold; */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
  
    /* Define hover styles */
  }
  .btn-input:hover {
    background-color: #0056b3;
    color: #ffffff;
  }
  
  /* Define active styles */
  .btn-input:active {
    background-color: #0056b3;
    color: #ffffff;
  }
  
  /* Define focus styles */
  .btn-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }
  
