.benifit_list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}


.benifit_list img{
width: 300px;
height: 300px;

}

.experience__img{
  width: 100%;
  height: 100%;
}

.benifit_list div{
  display: flex;
  /* flex-wrap: wrap; */  
  margin: 1rem;
}

.benifit_list div:nth-child(even){
  flex-direction: row-reverse;
}

.banifit_img{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .benifit_list p{
  display: flex;
  align-items: center;
  width: 50%;
  text-align: center;
}

@media only screen and (max-width:768px){
  .benifit_list div{
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
  }

  .benifit_list p{
    width: 100%;
  }

}



.plantop{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  
}

.plantop .colume{
  min-width: 280px;
  margin-top: 0.2em;
}
.colume{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 370px;
  min-height: 370px; */


}



.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #4089f8;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover, .plan .button:focus {
  background-color: #2f7aec;
}

@media only  screen  and (max-width:992) {
  .plantop .features{
    padding-left: 0 !important;
  }
  
}
@media only  screen  and (max-width:496px) {
  .experience__img img{
    width: 90%;
    height: 90%;
  }

  .counter__wrapper .counter__box h6{
    font-size: 1rem;
  }
  
}